body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    color: #333;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

#start {
    background-color: #007bff;
}

#start:hover {
    background-color: #0056b3;
}

#stop {
    background-color: red;
}

#stop:hover {
    background-color: darkred;
}

video {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

#downloadLink {
    color: #007bff;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

#downloadLink:hover {
    color: #0056b3;
}
